@model EDUCONTROL.Models.Alumno
@{
    ViewData["Title"] = "Nuevo alumno";
}
<h2 class="mb-4">Registrar nuevo alumno</h2>
<div class="card shadow-sm" style="max-width:600px">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="mb-3">
                <label asp-for="NIE" class="form-label"></label>
                <input asp-for="NIE" class="form-control" placeholder="Ej: 20260001" />
                <span asp-validation-for="NIE" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NombreCompleto" class="form-label"></label>
                <input asp-for="NombreCompleto" class="form-control"
                       placeholder="Apellidos y nombres" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label asp-for="Grado" class="form-label fw-semibold"></label>
                    <select asp-for="Grado" class="form-select">
                        <option value="">-- Seleccionar --</option>
                        @foreach (var g in new[] { "1 grado", "2 grado", "3 grado", "4 grado", "5 grado", "6 grado", "7 grado", "8 grado", "9 grado" })
                        {
                            <option value="@g">@g</option>
                        }
                    </select>
                    <span asp-validation-for="Grado" class="text-danger"></span>
                </div>
                <div class="col mb-3">
                    <label asp-for="Seccion" class="form-label fw-semibold"></label>
                    <select asp-for="Seccion" class="form-select">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Estado" class="form-label"></label>
                <select asp-for="Estado" class="form-select">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Guardar alumno</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
